<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" href="#page-top">NAHUEL TABASSO</a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <p class="masthead-subheading font-weight-light mb-0">Welcome to my personal website</p>
    <!-- Masthead Avatar Image-->
    <img class="img-thumbnail masthead-avatar" src="../assets/img/avatar.JPG" alt="Foto de Perfil Nahuel Tabasso" />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Nahuel Tabasso</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Ssr. Full-Stack Software Developer</p>
  </div>
</header>

<!-- About Section-->
<section class="page-section mb-0" id="about">

  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary">About Me</h2>

    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content-->
    <div class="row">
      <p class="lead text-center">
        My name is Nahuel Tabasso, I'm 24 years old and I am an advanced engineering student. Since I was a child, I was always very interested in everything related to Computing, so I decided to study Information Systems Engineering at the UTN FRRo.
      </p>

      <p class="lead text-center">
        I am passionate about technology and I am also interested in continuing to learn about the world of Machine Learning and everything related to AI.
      </p>

      <p class="lead text-center">
        For about two years I have been working at <a href="https://tecso.coop/es">TECSO LTDA</a> and I have been lucky enough to participate in different projects such as Banco CMF, TMF (Rosario Municipality), Covid App, CESIG. In addition to working on personal development projects. I like team work.
      </p>

      <p class="lead text-center">
        In this time I have been perfecting myself and accumulating experience in different in languages, environments, tools such as:
        Java, Spring, Javascript, TypeScript, NodeJs, Python, Angular, HTML, Bootstrap, SQL, MySQL, PostgreSQL, MongoDB, Intellij Idea, Eclipse, Visual Studio Code, Git, C, MEAN Stack.
      </p>

      <p class="lead text-center">
        In the language field, I'm a native Spanish speaker, I studied English at UTN two years and now I'm studying the language for my own. I consider that I have an intermediate level of English
      </p>

      <p class="lead text-center">
        In my spare time I like physical activity. I like listening to music, read and study about history, watching sports are my hobbies.
      </p>
    </div>

    <h5 class="page-section-heading text-center text-uppercase text-secondary my-5">Education</h5>
    <div class="row">
      <p class="lead">
        <i class="fa fa-check-circle"></i>
        High School at Ntra. Sra. de Lujan Nro. 1212. (Specialty in economics and business management). 2010 - 2014
      </p>
      
      <p class="lead">
        <i class="fa fa-check-circle"></i>
        Systems Engineering at Universidad Tecnologica Nacional. 2015 - Current
      </p>
    </div>

    <!-- Work Experience -->
    <h5 class="page-section-heading text-center text-uppercase text-secondary my-5">Work Experience</h5>
    <div class="row">
      <p class="lead">
        <i class="fa fa-check-circle"></i>
        Software Developer at Personal Projects. June 2018 - Current. 
      </p>

      <p class="lead">
        <i class="fa fa-check-circle"></i>
        Full-Stack Software Developer at Cooperativa de Trabajo Tecso LTDA. September 2019 - Current. 
      </p>
    </div>

      <!-- About Section Button-->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-secondary" download="NAHUEL_TABASSO_CV" target="_blank" href="/assets/cv-file/CV_TABASSO_NAHUEL.pdf">
        <i class="fas fa-download me-2"></i>
        Download my CV
      </a>
    </div>
  </div>
</section>

<!-- Portfolio Section -->
<section class="page-section bg-primary text-white mb-0 portfolio" id="portfolio">
  <div class="container">
      <!-- Portfolio Section Heading-->    
      <h2 class="page-section-heading text-center text-uppercase text-white">Portfolio</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>


      <div class="row">
        <div class="col-lg-6 ms-auto text-center">
          <i class="bi-window fs-1 align-content-center"></i>
          <br>
          <h4 class="text-center">Front End Development</h4>
          <p class="lead text-center">
            Front End development with HTML, CSS, Javascript, Bootstrap, TypeScript and Angular
          </p>
        </div>

        <div class="col-lg-6 ms-auto text-center">
          <i class="bi-window fs-1 align-content-center"></i>
          <br>
          <h4 class="text-center">Back End Development</h4>
          <p class="lead text-center">
            Back End development with Java, Spring Framework, Hibernate, NodeJs, Python, MySQL, PostgreSQL, MongoDB
          </p>
        </div>
      </div>

      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center my-4">
        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg-3 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center text-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid img-avatar" src="assets/img/portfolio/cmf.jpg" alt="Banco Corporativo CMF" />
            </div>
        </div>
        <!-- Portfolio Item 2-->
        <div class="col-md-6 col-lg-3 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="assets/img/portfolio/municipalidadrosario.png" alt="Tribunal Municipal de Faltas (TMF)" />
            </div>
        </div>
        <!-- Portfolio Item 3-->
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid img-avatar" src="assets/img/portfolio/colegioescribano.png" alt="Colegio de Escribanos (CESIG)" />
          </div>
        </div>
        <!-- Portfolio Item 4-->
        <div class="col-md-6 col-lg-3 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="assets/img/portfolio/cuidar.png" alt="Cuidar App (Covid)" />
            </div>
        </div>
        <!-- Portfolio Item 5-->
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="assets/img/portfolio/finanzas.png" alt="App Finanzas Personales" />
            </div>
        </div>
        <!-- Portfolio Item 6-->
        <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="assets/img/portfolio/reserva-utn.jpg" alt="Sistema de Reserva de Hotel" />
            </div>
        </div>
        <!-- Portfolio Item 7-->
        <div class="col-md-6 col-lg-3">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal7">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="assets/img/portfolio/redsocial.jpg" alt="Trabajo Practico TADS" />
            </div>
        </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
      <div class="row">
          <!-- Footer Location-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Contact</h4>
              <p class="lead mb-0">
                  <i class="fa fa-mail-bulk "></i>
                  nahueltabasso@gmail.com
                  <br />
                  <i class="fa fa-phone"></i>
                  +54 341 3609715
              </p>
          </div>
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Around the Web</h4>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/nahuel.tabasso/"><i class="fab fa-fw fa-instagram"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/tabassonahuel/"><i class="fab fa-fw fa-linkedin-in"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/nahueltabasso"><i class="fab fa-fw fa-github"></i></a>
          </div>
          <!-- Footer About Text-->
          <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">About</h4>
              <p class="lead mb-0">
                2021 &copy; Start Bootstrap 
              </p>
          </div>
      </div>
  </div>
</footer>

<!-- Portfolio Modals-->
<!-- Portfolio Modal CMF BANK -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">CMF Bank</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-4">
                            CMF is a corporate bank. Tecso client.
                            I worked as a Java developer in the implementation of the OAuth2 protocol in one of the client's products.
                          </p>

                          <p class="mb-4 lead">
                            <strong class="lead">Technologies and tools:</strong>
                          </p>

                          <p class="mb-4">
                            Backend: Java EE, Spring, Hibernate, Gradle, Microsoft SQL Server, Swagger.
                          </p>
                          <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Modal TMF (Municipalidad Rosario) -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">TMF</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-4">
                            TMF is a section of the Government of Rosario. He is in charge of managing everything related to the court of misdemeanors.
                            Work on this project as a Full-Stack Java / Angular developer
                          </p>

                          <p class="mb-4 lead">
                            <strong class="lead">Technologies and tools:</strong>
                          </p>

                          <p class="mb-4">
                            Backend: Java EE, Spring, Hibernate, Maven, PostgreSQL.
                          </p>

                          <p class="mb-4">
                            Frontend: HTML, CSS, Typescript, Angular.
                          </p>
                          <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Modal CESIG -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- Portfolio Modal - Title-->
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">CESIG</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- Portfolio Modal - Text-->
                        <p class="mb-4">
                          CESIG or College of Notaries is a project on a business management system. In this project I am currently working as a Full-Stack Java / Angular developer.
                          I have also carried out monitoring of the production environments. As well as deployments in production.                         
                        </p>

                        <p class="mb-4 lead">
                          <strong class="lead">Technologies and tools:</strong>
                        </p>

                        <p class="mb-4">
                          Backend: Java EE, Spring, Hibernate, Maven, PostgreSQL, JasperReports.
                        </p>

                        <p class="mb-4">
                          Frontend: HTML, CSS, Typescript, Angular7.
                        </p>
                        <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                            <i class="fas fa-times fa-fw"></i>
                            Close Window
                        </button>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Modal CUIDAR -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">CUIDAR</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-4">
                            The Cuidar App is the application of the National Government currently used in Argentina by the COVID-19 pandemic.
                            I worked as a Full-Stack Developer for 3 months on this project.
                          </p>

                          <p class="mb-4 lead">
                            <strong class="lead">Technologies and tools:</strong>
                          </p>

                          <p class="mb-4">
                            Backend: Java EE, Spring, Hibernate, Gradle, DynamoDB, AWS.
                          </p>

                          <p class="mb-4">
                            Frontend: HTML, CSS, Typescript, Angular.
                          </p>
                          <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Modal Personal Finances -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">PERSONAL FINANCES APP</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-4">
                            The personal finance application is a personal project that I came up with during 2020 to keep track of my income, expenses, savings, investments, etc.
                            The code for this project can be found on my personal Github which can be found below on my personal website.
                          </p>
                          
                          <p class="mb-4" style="text-align: left;">
                            Some of its features are:
                            <li>API Rest</li>
                            <li>Income/Egress CRUD</li>
                            <li>Search by filters</li>
                            <li>Role-based authentication with JWT</li>
                            <li>User Registers</li>
                            <li>Implementation of Google Recaptcha</li>
                            <li>Send Emails</li>
                            <li>Reset Passwords</li>
                            <li>Queries to public APIs</li>
                            <li>API documentation with Swagger</li>
                            <li>Unit Tests with JUnit</li>
                            <li>Send SMS</li>
                          </p>

                          <p class="mb-4 lead">
                            <strong class="lead">Technologies and tools:</strong>
                          </p>

                          <p class="mb-4">
                            Backend: Java EE, Spring, Hibernate, Maven, MongoDB, JWT, Recaptcha, Swagger, TWILIO, JUnit.
                          </p>

                          <p class="mb-4">
                            Frontend: HTML, CSS, Typescript, Angular, REDUX.
                          </p>

                          <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Modal UTN Java Final Assignment -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Booking System</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-4">
                            The hotel reservation system is a complete web system made as a final practical work of the Java subject, 
                            it was implemented with the Java programming language on the server side with a connection to the MySQL database. The client was developed with Angular        
                          </p>

                          <p class="mb-4" style="text-align: left;">
                            Some of its features are:
                            <li>Independent CRUD</li>
                            <li>Dependent CRUD</li>
                            <li>APIs Rest by Servlets</li>
                            <li>Role-based authentication with JWT</li>
                            <li>Send Emails</li>
                            <li>Exceptions Handling</li>
                            <li>Reset Passwords</li>
                            <li>Validators</li>
                            <li>CORS</li>
                          </p>

                          <p class="mb-4 lead">
                            <strong class="lead">Technologies and tools:</strong>
                          </p>

                          <p class="mb-4">
                            Backend: Java EE, MySQL.
                          </p>

                          <p class="mb-4">
                            Frontend: HTML, CSS, Typescript, Angular.
                          </p>
                          <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Portfolio Modal UTN TADS Final Assignment -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" aria-labelledby="portfolioModal7" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body text-center pb-5">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">TADS Social Network</h2>
                          <!-- Icon Divider-->
                          <div class="divider-custom">
                              <div class="divider-custom-line"></div>
                              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                              <div class="divider-custom-line"></div>
                          </div>
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-4">
                          </p>

                          <p class="mb-4" style="text-align: left;">
                          </p>

                          <!-- <p class="mb-4 lead">
                            <strong class="lead">Technologies and tools:</strong>
                          </p>

                          <p class="mb-4">
                            Backend: Java EE, Spring, Hibernate, Maven, MongoDB, JWT, Recaptcha, Swagger, TWILIO.
                          </p>

                          <p class="mb-4">
                            Frontend: HTML, CSS, Typescript, Angular, REDUX.
                          </p> -->
                          <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                              <i class="fas fa-times fa-fw"></i>
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
